@media(max-width: 770px) {
    .items-title__btn {
        margin-left: 140px;
    }
}

@media(max-width: 700px) {
    .header__top {
        text-align: center;
    }
    
    .header__btn {
        float: none;
        display: block;
    }

    .header__btn::before {
        content: '';
    }

    .header__menu {
        display: none;
        position: absolute;
        background-color: #ffc222;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 50;
    }

    .header__item {
        display: block;
        padding: 10px;
        padding-left: 0 !important;
    }

    .header__item:not(:last-child) {
        border-bottom: 2px solid grey;
    }

    .header__menu-btn {
        display: block;
    }

    .slider__title {
        font-size: 25px;
    }

    .slider__text {
        font-size: 20px;
    }

    .slider__item-container {
        max-width: 550px;
    }
}

@media(max-width: 630px) {
    .contacts__map iframe {
        max-width: 300px;
    }
}

@media(max-width: 600px) {
    .slider__title {
        font-size: 20px;
    }

    .slider__text {
        font-size: 15px;
    }

    .slider__item-container {
        max-width: 350px;
    }
}

@media(min-width: 700px) {
    .header__menu {
        display: block !important;
    }
}